@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color)
}

.flex{
    display: flex;
    align-items: center;
}

ul{
    list-style-type: none;
    justify-content: space-around;
}

a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.container{
    height: 80px;
    padding: 0 200px;
    justify-content: space-between;
}

img{
    width: 120px;
}

.nav-link{
    flex-basis: 720px;
}

.nav-btn{
    color: var(--primary-text-color);
    
}

.hover-link {

    color: var(--primary-text-color);
    transition: 0.2s ease-out;
    /*transition of the nav links*/
}

.hover-link:hover {
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0 0 80px var(--secondary-text-color);
    color: var(--accent-color);
}

.login-btn{
    padding: 10px 20px;
    border: 1px solid var(--primary-text-color);
    box-shadow: 0 0 90px var(--primary-text-color);
    border-radius: 6px;
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

.login-btn:hover{
    border-radius: 6px;
    padding: 5px 10px;
    color: var(--primary-text-color);
    border: 1px solid var(--accent-color);
    box-shadow: none;
}